/* Table Container Styles */
.table-container {
  margin: 20px;
  padding: 15px;
  overflow-x: auto;
  font-family: Arial, sans-serif;
}

/* Basic Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

/* Header Styles */
thead {
  background-color: #f8f9fa;
}

th {
  padding: 15px;
  text-align: left;
  font-weight: bold;
  color: #333;
  border: 1px solid #dee2e6;
  border-bottom: 2px solid #dee2e6;
  text-transform: uppercase;
  font-size: 0.9em;
}

/* Body Styles */
td {
  padding: 12px 15px;
  border: 1px solid #dee2e6;
  color: #666;
}

/* Row Hover Effect */
tbody tr:hover {
  background-color: #f5f5f5;
  transition: background-color 0.2s ease-in-out;
}

/* Zebra Striping */
tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

/* Optional: First Column Emphasis */
tbody tr td:first-child {
  font-weight: 500;
  color: #333;
  width: 40%;
}

tbody tr td:nth-child(2) {
  width: 40%;
}

tbody tr td:last-child {
  width: 20%;
}

/* Optional: Last Row Emphasis */
tbody tr:last-child {
  border-bottom: 2px solid #dee2e6;
}

/* Optional: Sortable Headers */
th.sortable {
  cursor: pointer;
}

th.sortable:hover {
  background-color: #e9ecef;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.title {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.loading-container {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

.loading-text {
  color: #333;
  font-size: 1.2em;
  margin-top: 10px;
}

.table-container table {
  margin: 0;
}

.table-container table thead tr td:first-child
.table-container table thead tr:nth-child(2) {
  width: 40%;
}

.table-container table thead tr:last-child {
  width: 20%;
}

.table-container input {
  margin: 0 0 15px 15px;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: darkgray;
}

button {
  padding: 8px;
  background-color: rgb(71, 71, 234);
  cursor: pointer;
  border-radius: 8px;
  color: #FFFFFF;
  border: 1px solid rgb(71, 71, 234);
  margin: 0 5px;
}

button:hover {
  background-color: rgb(93, 93, 235);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 600px) {
  .spinner {
      width: 40px;
      height: 40px;
    }
  
    .loading-text {
      font-size: 1em;
    }
  
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  
    th,
    td {
      padding: 8px 10px;
      font-size: 0.9em;
    }
}